table {
    border: 14px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 50px;
}

td {
    width: 43px;
    height: 43px;
    border: 7px solid black;
}

.grey {
    background-color: lightgray;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}
